:root {
    --blue: #3882F6;
    --white: #F9FAF8;
    --grey: #E5E7EB;
    --black: #1F2937;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-family: 'Roboto', sans-serif;
}
header {
    display: flex;
    width: 100%;
    flex: 1;
    justify-content: space-around;
    align-items: center;
    background: var(--black);
    color: var(--white);
    font-size: 24px;
    padding: 20px 0px;
    gap: 70px;
}
.links-list ul {
    display: flex;
    list-style: none;
    gap: 30px;
}
a {
    text-decoration: none;
    color: var(--grey);
    font-size: 18px;
    font-weight: lighter;
}
.container .sec1 {
    background: var(--black);
    display: flex;
    justify-content: center;
    gap: 230px;
    padding: 115px 0;
}
.container .sec1 .text {
    width: 450px;
}
.text h1 {
    font-size: 48px;
    font-weight: bold;
    color: var(--white);
}
.text p {
    font-size: 18px;
    color: var(--grey);
    font-weight: 300;
}
.text button {
    background: var(--blue);
    color: var(--white);
    margin-top: 16px;
    font-size: 16px;
    padding: 8px 36px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.container .sec1 img {
    width: 400px;
} 
.sec2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 48px; 
}
.sec2 .title {
    font-size: 36px;
    font-weight: bold;
    color: var(--black);
    padding-bottom: 48px;
}
.sec2 .rec-container {
    display: flex;
    gap: 48px;
}
.rec-container .rec {
    max-width: 180px;
    text-align: center;
}
.rec .image {
    width: 180px;
    height: 180px;
    border: 4px solid var(--blue);
    border-radius: 16px;
    margin-bottom: 8px;
}
.rec p {
    color: grey;
    font-size: 18px;
}